@page
@model Front.Pages.cartModel
@{
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uren - Car Accessories Shop HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-stars.css">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="assets/css/vendor/ion-fonts.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->
    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>

<body class="template-color-1">

<div class="main-wrapper">

    <!-- Begin Uren's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Other</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Cart</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Uren's Breadcrumb Area End Here -->

    <!-- Begin Uren's Cart Area -->
    <div class="uren-cart-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    @if (Model.CartItems.Any())
                    {
                    <form method="post">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="uren-product-remove">Remove</th>
                                    <th class="uren-product-thumbnail">Images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="uren-product-price">Unit Price</th>
                                    <th class="uren-product-quantity">Quantity</th>
                                    <th class="uren-product-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                <tr>
                                    <td class="uren-product-remove">
                                        <form method="post" asp-page-handler="RemoveItem">
                                            <input type="hidden" name="partId" value="@item.PartId" />
                                            <button type="submit" class="btn btn-link p-0">
                                                <i class="fa fa-trash" title="Remove"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td class="uren-product-thumbnail">
                                        <a href="javascript:void(0)">
                                            <img src="assets/images/product/small-size/1.jpg" alt="@item.Name" />
                                        </a>
                                    </td>
                                    <td class="uren-product-name"><a href="javascript:void(0)">@item.Name</a></td>
                                    <td class="uren-product-price"><span class="amount">$@item.Price</span></td>
                                    <td class="quantity">
                                        <form method="post" asp-page-handler="UpdateQuantity">
                                            <input type="hidden" name="partId" value="@item.PartId" />
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" name="quantity" value="@item.Quantity" type="number" min="1">
                                                <button type="submit" class="btn btn-link p-0">Update</button>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">$@(item.Price * item.Quantity)</span></td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="coupon-all">
                                    <div class="coupon">
                                        <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                        <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul>
                                        <li>Subtotal <span>$@Model.CartItems.Sum(x => x.Price * x.Quantity)</span></li>
                                        <li>Total <span>$@Model.CartItems.Sum(x => x.Price * x.Quantity)</span></li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                    }
                    else
                    {
                    <p>Your cart is empty.</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Uren's Cart Area End Here -->

</div>

<!-- JS
============================================ -->
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/vendor/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>

<!-- Slick Slider JS -->
<script src="assets/js/plugins/slick.min.js"></script>
<!-- Barrating JS -->
<script src="assets/js/plugins/jquery.barrating.min.js"></script>
<!-- Counterup JS -->
<script src="assets/js/plugins/jquery.counterup.js"></script>
<!-- Nice Select JS -->
<script src="assets/js/plugins/jquery.nice-select.js"></script>
<!-- Sticky Sidebar JS -->
<script src="assets/js/plugins/jquery.sticky-sidebar.js"></script>
<!-- Jquery-ui JS -->
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/jquery.ui.touch-punch.min.js"></script>
<!-- Lightgallery JS -->
<script src="assets/js/plugins/lightgallery.min.js"></script>
<!-- Scroll Top JS -->
<script src="assets/js/plugins/scroll-top.js"></script>
<!-- Theia Sticky Sidebar JS -->
<script src="assets/js/plugins/theia-sticky-sidebar.min.js"></script>
<!-- Waypoints JS -->
<script src="assets/js/plugins/waypoints.min.js"></script>
<!-- jQuery Zoom JS -->
<script src="assets/js/plugins/jquery.zoom.min.js"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from above) -->
<!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>

</html>
